<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [2]:
#Import the advertising dataset
df = pd.read_csv('Advertising Budget and Sales.csv',index_col = 0)

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
df.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [4]:
#Check the total number of elements in the dataset
df.size

800

#### 3: Find the features or media channels used by the firm

In [5]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df.shape

(200, 4)

In [6]:
#View the names of each of the attributes
df.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [7]:
#Create a feature object from the columns
X = df.drop('Sales ($)', axis = 1)

In [8]:
#View the feature object
X.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [9]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y = df['Sales ($)']

In [10]:
#View the target object
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales ($), dtype: float64

In [11]:
#Verify if all the observations have been captured in the feature object
X.shape

(200, 3)

In [12]:
#Verify if all the observations have been captured in the target object
y.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [13]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [14]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print('Shape of X_train : {} and Shape of y_train : {}'.format(X_train.shape, y_train.shape))
print('Shape of X_test : {} and Shape of y_test : {}'.format(X_test.shape, y_test.shape))

Shape of X_train : (150, 3) and Shape of y_train : (150,)
Shape of X_test : (50, 3) and Shape of y_test : (50,)

#### 6: Create a model  to predict the sales outcome

In [15]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()
linReg.fit(X_train, y_train)

LinearRegression()

In [16]:
#Print the intercept and coefficients 
print("Intercept : ", linReg.intercept_)
print("Coefficients : ", linReg.coef_)

Intercept :  2.989996008235348
Coefficients :  [ 0.04488598  0.19386396 -0.00180602]

In [17]:
#Predict the outcome for the testing dataset
y_pred = linReg.predict(X_test)
y_pred

array([18.14966213, 20.77013697, 10.03735812, 18.06668363, 17.11973113,
       12.79567416, 11.09068018, 17.09873226,  9.64780277, 15.20075813,
       14.33989067, 12.53523356,  6.57534939, 15.43382574, 15.06166027,
       12.72619017,  6.92233313,  6.19101026, 12.52733332,  7.58952833,
        8.69047179, 21.53529959, 13.05099433, 12.48688912, 18.4462713 ,
       16.46644771, 13.85763263,  9.84673758,  5.41255615,  8.19461472,
       17.69115098, 16.3508498 , 11.04372992, 12.42397283,  9.14487203,
        6.57323596,  7.73572445, 10.6334801 , 23.74238691, 21.77008481,
       13.68801731,  9.95132009,  8.72796671, 21.19734698, 23.14923401,
       17.12959819, 18.217376  , 10.79003019, 14.61289397,  9.96170336])

#### 7: Calculate the Mean Square Error (MSE)

In [18]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error

In [19]:
#Calculate the MSE
np.sqrt(mean_squared_error(y_test, y_pred))

1.5284130081048146

In [20]:
print("Top 10 Values of Actual Target Column : \n", y_test.values[0:10])

Top 10 Values of Actual Target Column :
 [18.4 20.8 10.1 18.  18.  13.2 11.9 17.3 11.  15.2]

In [21]:
print("Top 10 Values of Predicted  : \n", y_pred[0:10])

Top 10 Values of Predicted  :
 [18.14966213 20.77013697 10.03735812 18.06668363 17.11973113 12.79567416
 11.09068018 17.09873226  9.64780277 15.20075813]